/.cfg

#/*
#!/.gitignore
#
#!/.bashrc
#
#!/.config
#
#/.config/*
#
#!/.config/i3/
#
#!/.config/Code/
#/.config/Code/*
#!/.config/Code/User/
#/.config/Code/User/*
#!/.config/Code/User/*.json
#
#
#!/.config/JetBrains/
#/.config/JetBrains/*/*
#!/.config/JetBrains/*/codestyles/
#!/.config/JetBrains/*/keymaps/
#!/.config/JetBrains/*/options/

